<a href="https://colab.research.google.com/github/luishernandezpw/Programacion-Computacional-III/blob/main/fundamentos_de_python_A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamentos de **Python**

In [ ]:
print("Hola Mundo")

Hola Mundo

In [ ]:
print("Bienvenidos a Programacion Computacional III...")

In [ ]:
import tensorflow as tf

In [ ]:
def suma():
  num1 = input("Dime un numero:")
  num2 = input("Dime otro numero:")
  print( "La suma es: ", float(num1) + float(num2) )
suma()

Dime un numero:8
Dime otro numero:4.5
La suma es:  12.5

In [ ]:
def calcularSueldo(numHrs,valorXHr):
  hrsExtras = 0
  if( numHrs>8 ):
    hrsExtras = float(numHrs) - 8
  sueldo = ((8*valorXHr)+(hrsExtras*valorXHr*2))*30
  return sueldo

numHrs = float(input("Dame el numero de horas: "))
valorXHr = float(input("Dame el valor por hora: "))
sueldo = calcularSueldo(numHrs, valorXHr)
print("El sueldo es: ", sueldo)

Dame el numero de horas: 4
Dame el valor por hora: 4
El sueldo es:  960.0

In [ ]:
print("Conversion de Fahrenheit a Celsius")
f = float(input("Dame la temperatura en Fahrenheit: "))
c = (f-32)*5/9
print("La temperatura en Celsius es: ", c)

Conversion de Fahrenheit a Celsius
Dame la temperatura en Fahrenheit: 105
La temperatura en Celsius es:  40.55555555555556

In [ ]:
nombrePersona = input("Dame tu nombre: ")
print("Hola, ", nombrePersona)
estado = input("Como te encuentras hoy: ")
print("Buen dia ", nombrePersona, ", estas ", estado)

Dame tu nombre: Luis
Hola,  Luis
Como te encuentras hoy: Bien
Buen dia  Luis , estas  Bien

In [ ]:
def suma(num1, num2):
  return num1 + num2

num1 = float(input("Num1: "))
num2 = float(input("Nnum2: "))

resp = suma(num1, num2)
print("Respuesta: ", resp)

Num1: 5
Nnum2: 7
Respuesta:  12.0

In [ ]:
suma = lambda num1, num2: num1+num2

n1 = float(input("Dime Num 1: "))
n2 = float(input("Dime Num 2: "))

resp = suma(n1, n2)
print("La suma es: ", resp)

Dime Num 1: 5
Dime Num 2: 7
La suma es:  12.0

In [ ]:
cuadrado = lambda x: x**2

n = int(input("Numero a elevar al cuadrado: "))
print("Respuesta: ", cuadrado(n))

Numero a elevar al cuadrado: 3
Respuesta:  9

In [ ]:
cubo = lambda x:x**3

n = int(input("Numero a elevar al cubo: "))
print("Respuesta: ", cubo(n))

Numero a elevar al cubo: 3
Respuesta:  27

In [ ]:
exp = lambda n,e:n**e
n = int(input("Numero a elevar a un exponente: "))
e = int(input("Exponente: "))
print("Respuesta: ", exp(n,e))

Numero a elevar a un exponente: 3
Exponente: 5
Respuesta:  243

In [ ]:
conversion = lambda f:(f-32)*5/9
f = float(input("Fahrenheit: "))
print("Grados F: ", f, " en celsius es: ", conversion(f))

Fahrenheit: 105
Grados F:  105.0  en celsius es:  40.55555555555556

In [ ]:
lista = [1,2,3,5, 2]
resp = list(map(lambda n:n*2, lista))
print( lista, resp )

[1, 2, 3, 5, 2] [2, 4, 6, 10, 4]

In [ ]:
lista = [96,85,105] #Grados Fahrenheit
c = list(map(conversion, lista))
print( "Grados Fahrenheit: ", lista, "Grados Celsius: ", c )

Grados Fahrenheit:  [96, 85, 105] Grados Celsius:  [35.55555555555556, 29.444444444444443, 40.55555555555556]

In [ ]:
resp = list( filter(lambda n:n%2==0, lista))
print("Los numeros pares de la lista: ", lista, " son: ", resp)

Los numeros pares de la lista:  [96, 85, 105]  son:  [96]

In [ ]:
resp = list(filter(lambda n:n<=2, lista))
print("Los num menores o iguales a 2 de la lista: ", lista, " son: ", resp)

Los num menores o iguales a 2 de la lista:  [1, 2, 3, 5, 2]  son:  [1, 2, 2]

In [ ]:
from functools import reduce
resp = reduce(lambda x,y: x+y, lista)
print("La suma de los valores de la lista: ", lista, " es: ", resp)

La suma de los valores de la lista:  [1, 2, 3, 5, 2]  es:  13

In [ ]:
me = ["Luis Hernandez", "Usulutan", 503, "2222-2222", "luishernandez@ugb.edu.sv", [4,[5,6,8],6] ]
print( me[0][0:4], me[1][0:3], me[5][1][2] )

Luis Usu 8

In [ ]:
matriz = [
          [1,2,3], #0
          [2,4],   #1
          [8,7,9], #2
          [7,0,    #3
           [5,8,9.5,7] #4 -> 
           ,4] #5
        ]
print( matriz )

[[1, 2, 3], [2, 4], [8, 7, 9], [7, 0, [5, 8, 9.5, 7], 4]]

In [ ]:
lenguajes = {"PrograI":"VB","PrograII":"JAVA","PrograIII":"Python"}
print( lenguajes, lenguajes["PrograI"] )

{'PrograI': 'VB', 'PrograII': 'JAVA', 'PrograIII': 'Python'} VB

In [ ]:
mi = {
    "codigo":"USIS018804",
    "nombre":"Luis Hernandez",
    "direccion":{
        "calle":"3Av. Norte, Calle #5, Casa #2",
        "municipio":"Usulutan",
        "departamento":"Usulutan",
        "pais":{
            "codigo":503,
            "codiso":"sv",
            "nombre":"El Salvador",
            "continente":"C.A"
        }
    },
    "tels":{
        "oficina":"2616-4545",
        "casa":"2615-4545",
        "celular":"7050-2085"
    }
}
print( mi["nombre"], mi["direccion"]["calle"], mi["direccion"]["pais"]["nombre"], mi["tels"] )

Luis Hernandez 3Av. Norte, Calle #5, Casa #2 El Salvador {'oficina': '2616-4545', 'casa': '2615-4545', 'celular': '7050-2085'}

In [ ]:
mi.clear()
print( mi )

{}

In [ ]:
copiaMi = mi.copy()
print( copiaMi )

{'codigo': 'USIS018804', 'nombre': 'Luis Hernandez', 'direccion': {'calle': '3Av. Norte, Calle #5, Casa #2', 'municipio': 'Usulutan', 'departamento': 'Usulutan', 'pais': {'codigo': 503, 'codiso': 'sv', 'nombre': 'El Salvador', 'continente': 'C.A'}}, 'tels': {'oficina': '2616-4545', 'casa': '2615-4545', 'celular': '7050-2085'}}

In [ ]:
indicesMi = dict.fromkeys(mi)
print( indicesMi )

{'codigo': None, 'nombre': None, 'direccion': None, 'tels': None}

In [ ]:
busqueda = mi.get("direccion")["pais"]
print( busqueda )

{'codigo': 503, 'codiso': 'sv', 'nombre': 'El Salvador', 'continente': 'C.A'}

In [ ]:
edad = int(input("Edad: "))
if edad<18:
  print("Eres menor de edad.")
print("Esto se imprime de todos modos")

Edad: 15
Eres menor de edad.
Esto se imprime de todos modos

In [ ]:
edad = int(input("Edad: "))
if edad<18:
  print("Eres menor de edad")
else:
  print("Eres mayor de edad")

Edad: 20
Eres mayor de edad

In [ ]:
edad = int(input("Edad: "))
if edad<=2:
  print("Eres un bebe")
elif edad<12:
  print("Eres un niÃ±o")
elif edad<18:
  print("Eres un adolescente")
elif edad<=60:
  print("Eres mayor de edad")
elif edad<=80:
  print("Eres un adulto mayor")
elif edad<=130:
  print("Larga vida")
else:
  print("Edad incorrecta")

Edad: 150
Edad incorrecta

In [ ]:
i=1
n = int(input("Table: "))
while i<=10:
  print(n,"X",i,"=",n*i)
  i+=1
print("Termine de imprimir la tabla ", n)

Table: 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
Termine de imprimir la tabla  6

Calcular sobre el sueldo las deducciones de ley (isss 3%), AFP 6.25%, ISR (Tabla)

In [1]:
sueldo = float(input("Sueldo: "))
isss = sueldo*0.03
afp = sueldo*0.0625
sueldoNeto = sueldo-(isss+afp)
impSr = 0

tablaIsr = [
            [0.01,472,0,0],
            [472.01,895.24,0.1,17.67],
            [895.25, 2038.10, 0.2, 60],
            [2038.11,99999,0.30,288.57]
]
for isr in tablaIsr:
  if sueldoNeto>isr[0] and sueldoNeto<=isr[1]:
    impSr=(sueldoNeto-isr[0])*isr[2] + isr[3]
print("Total deducciones", (isss+afp+impSr), "Sueldo Neto: ", sueldoNeto-impSr)

Sueldo: 800
Total deducciones 117.069 Sueldo Neto:  682.931

Ejercicios de Tarea:
1. Convertir de Celsius de Fahrenheit
2. Calcular la edad de una persona.
3. Obtener la nota final de ciclo

Tarea:
Convertir de Celsius de Fahrenheit usando lambda
Calcular la edad de una persona. usando lambda
Obtener la nota final de ciclo usando lambda y build-in(map, filter, reduce)