<a href="https://colab.research.google.com/github/luishernandezpw/Programacion-Computacional-III/blob/main/fundamentos_de_python_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo", "Bienvenidos a Progra III con Python", "Hola chicos, que tal...")

Hola mundo Bienvenidos a Progra III con Python Hola chicos, que tal...

In [ ]:
saludo = "hola"
print(saludo + " Mundo")
print( saludo[1] )

hola Mundo
o

In [ ]:
nombre = input("Como te llamas: ")
print("Hola "+nombre, "Tu letra inicial es: ", nombre[0], "Tu nombre tiene: ", nombre.__len__(), " caracteres" )

Como te llamas: Luis
Hola Luis Tu letra inicial es:  L Tu nombre tiene:  4  caracteres

In [ ]:
num1 = 5
num2 = 5.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  10.5

In [ ]:
num1 = input("Num1: ")
num2 = input("Num2: ")
resp = float(num1) + float(num2) # "5.5"-> 5.5
print("La suma es: ", resp)

Num1: 5
Num2: 5.5
La suma es:  10.5

In [ ]:
num1 = input("Num1: ")
num1 = float(num1)
num2 = float(input("Num2: "))
resp = num1 + num2 # "5.5"-> 5.5
print("La suma es: ", resp, num1 + num2)

Num1: 5.4
Num2: 6.8
La suma es:  12.2 12.2

In [ ]:
print("Hola nuevamente", nombre)

Hola nuevamente Luis

In [ ]:
gustaPython = True
print("hola ", nombre, " te gusta python ", gustaPython)

hola  Luis  te gusta python  True

In [ ]:
print( "nombre: ", type(nombre), "num1: ",type(num1), "num2: ",type(num2), "resp: ",type(resp), "gustaPython: ", type(gustaPython), "1", type(1))

nombre:  <class 'str'> num1:  <class 'float'> num2:  <class 'float'> resp:  <class 'float'> gustaPython:  <class 'bool'> 1 <class 'int'>

In [ ]:
print("resp: "+ str(resp) )

resp: 12.2

In [ ]:
def suma(num1, num2):
  resp = num1 + num2
  return resp
num1 = float(input("Num1: "))
num2 = float(input("Nnum2: "))
resp = suma(num1,num2)
print(resp)

Num1: 8.4
Nnum2: 9.8
18.200000000000003

In [ ]:
num1 = int(input("Num1: "))
num2 = int(input("Num2: "))
print("Los numero", str(num1), ",", str(num2), " son iguales: ", str(num1==num2) )

Num1: 4
Num2: 4
Los numero 4 , 4  son iguales:  True

In [ ]:
def convertirFC(f):
  c = (f-32)*5/9
  return c

f = float(input("F: "))
print("F: ", str(f), " a celsius: ", str( convertirFC(f) ))

F: 98
F:  98.0  a celsius:  36.666666666666664

In [ ]:
numHrs = int(input("Num. de Hrs trabajadas: "))
valorHr = float(input("Valor por hr: "))

sueldo = numHrs*valorHr*30
print("Sueldo: ", sueldo)

Num. de Hrs trabajadas: 10
Valor por hr: 4.5
Sueldo:  1350.0

In [ ]:
def calcularSueldo(numHrs, valorHr):
  hrsExtras = 0
  if( numHrs>8 ):
    hrsExtras = numHrs-8
  sueldo = (8*valorHr + hrsExtras*valorHr*2)*30
  return sueldo

numHrs = int(input("Num. hrs trabajadas: "))
valorHr = float(input("Valor x hr: "))
print("Sueldo: ", str(calcularSueldo(numHrs, valorHr)))

Num. hrs trabajadas: 10
Valor x hr: 4.5
Sueldo:  1620.0

In [ ]:
prioridad = 7- 5*2 - 4/4 *2 #5*2=10   4/4=1   1*2=2   7-10-2= -5
print(str(prioridad))

-5.0

Ejercicio de clase: 1. **Convertir** de Grados Celsius a Fahrenheit.

Ejercicios de Tarea: 
1. Convertir de Celsius de Fahrenheit
2. Calcular la edad de una persona.
3. Obtener la nota final de ciclo

Tarea: 
1. Convertir de Celsius de Fahrenheit usando lambda
2. Calcular la edad de una persona. usando lambda
3. Obtener la nota final de ciclo usando lambda y build-in(map, filter, reduce)

In [ ]:
suma = lambda num1,num2: num1+num2
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print("La suma es: ", suma(num1,num2))

Num1: 5
Num2: 7
La suma es:  12.0

In [ ]:
conversion = lambda f:(f-32)*5/9
f = float(input("Fahrenheit: "))
print("Grados F: ", f, " a C: ", conversion(f))

Fahrenheit: 98
Grados F:  98.0  a C:  36.666666666666664

In [ ]:
cuadrado = lambda n:n**2
n = int(input("N: "))
print("N: ", n, " al cuadrado es: ", cuadrado(n))

N: 3
N:  3  al cuadrado es:  9

In [ ]:
cubo = lambda n:n**3
n = int(input("n: "))
print("N: ", n, " al cubo es: ", cubo(n))

n: 3
N:  3  al cubo es:  27

In [ ]:
exp = lambda n,e:n**e
n = int(input("N: "))
e = int(input("Exponente: "))
print(n, " elevado al exp : ", e, " es: ", exp(n,e))

N: 3
Exponente: 4
3  elevado al exp :  4  es:  81

In [ ]:
lista = [1,2,3,4]
resp = list(map(lambda n:n*2, lista))
print(resp)

[2, 4, 6, 8]

In [ ]:
gf_depto = [85,58,105]
c_depto = list(map(conversion, gf_depto))
print("Los grados F: ", gf_depto, " en celsius es: ", c_depto)

Los grados F:  [85, 58, 105]  en celsius es:  [29.444444444444443, 14.444444444444445, 40.55555555555556]

In [ ]:
resp = list(map(cuadrado, lista))
print("La lista ", lista, " el cuadrado es: ", resp)

La lista  [1, 2, 3]  el cuadrado es:  [1, 4, 9]

In [ ]:
resp = list(map(cubo, lista))
print("La lista ", lista, " el cubo es: ", resp)

La lista  [1, 2, 3]  el cubo es:  [1, 8, 27]

In [ ]:
resp = list(filter(lambda n:n>2, lista))
print("Los numeros <= 2 de la lista ", lista, " son: ", resp)

Los numeros <= 2 de la lista  [1, 2, 3]  son:  [3]

In [ ]:
resp = list(filter(lambda n:n%2==0, lista))
print("Los numeros pares de la lista ", lista, " son: ", resp)

Los numeros pares de la lista  [1, 2, 3, 5, 8, 7, 9, 12, 11, 2]  son:  [2, 8, 12, 2]

In [ ]:
resp = list(filter(lambda n:n%2, lista)) #True, False, 1/2 = 0.5->1->True, 2/2=0 -> False
print("Los numeros impares de la lista ", lista, " son ", resp)

Los numeros impares de la lista  [1, 2, 3, 5, 8, 7, 9, 12, 11, 2]  son  [1, 3, 5, 7, 9, 11]

In [ ]:
from functools import reduce
resp = reduce(lambda x,y:x+y, lista)
print("La suma de la lista ", lista, " es: ", resp, " la media es: ", resp/len(lista))

La suma de la lista  [1, 2, 3, 4]  es:  10  la media es:  2.5

In [ ]:
tupla = (1,2,5) #una tupla es un conjunto de datos inmutable
print( tupla, tupla[0], "Rango: indice inicial: longitud: ", tupla[1:3], "; cuantas veces aparece el 2: ",tupla.count(2), "; donde (indice) aparece el 5: ", tupla.index(5)  )
print( list(map(conversion, tupla)) )

(1, 2, 5) 1 Rango: indice inicial: longitud:  (2, 5) ; cuantas veces aparece el 2:  1 ; donde (indice) aparece el 5:  2
[-17.22222222222222, -16.666666666666668, -15.0]

In [ ]:
persona = ("USIS018804", "Luis Hernandez", "Usulutan", "2222-2222", "luishernandez@ugb.edu.sv", 2004, 2.5)
print( persona )

('USIS018804', 'Luis Hernandez', 'Usulutan', '2222-2222', 'luishernandez@ugb.edu.sv', 2004, 2.5)

In [ ]:
nombre = "Luis Hernandez"
print( nombre[0:4], nombre.count("e") )

Luis 2

In [ ]:
name = ["L", "u", "i", "s", " ", "H", "e", "r", "n","a","n","d","e","z"]
print( name, name[0:4], name.count("e"), name.index("e") )

['L', 'u', 'i', 's', ' ', 'H', 'e', 'r', 'n', 'a', 'n', 'd', 'e', 'z'] ['L', 'u', 'i', 's'] 2 6

In [ ]:
person = ["USIS018804", "Luis Hernandez", "Direccion: Usulutan", "2222-2222", "luishernandez@ugb.edu.sv", 2004, 2.5]
print(person)
#person[6] = 9.1
person.insert(2, "Depto: Usulutan") #inserta una valor en el indice 2
person.append("Python")# inserta un valor al final
#person[6] = 9.1
person[ person.index(2.5) ] = 9.1
lenguaje = person.pop() #devuelve y borra el ultimo valor
print(person, lenguaje)

['USIS018804', 'Luis Hernandez', 'Direccion: Usulutan', '2222-2222', 'luishernandez@ugb.edu.sv', 2004, 2.5]
['USIS018804', 'Luis Hernandez', 'Depto: Usulutan', 'Direccion: Usulutan', '2222-2222', 'luishernandez@ugb.edu.sv', 2004, 9.1] Python

In [ ]:
numEnteros = [1,5,2,8,7]
numOrdenados = sorted(numEnteros, reverse=True)
numReverse = list(reversed(numEnteros))
print("Lista desordenada: ", numEnteros, "Lista Ordenada: ", numOrdenados, "Numeros al reves", numReverse )

Lista desordenada:  [1, 5, 2, 8, 7] Lista Ordenada:  [8, 7, 5, 2, 1] Numeros al reves [7, 8, 2, 5, 1]

In [ ]:
me = ["USIS018804","Luis Hernandez","Usulutan",503, "2222-2222","luishernandez@ugb.edu.sv",["Progra I", "Progra II", [5,8,9,2], "Progra III"] ]
print( me[0][0:4], me[6][2][2], me[6][2][0] )

USIS 9 5

In [ ]:
matriz = [
          [1,2,3],
          [8,7,6],
          [7,2,5]
]
print( matriz )

[[1, 2, 3], [8, 7, 6], [7, 2, 5]]

In [ ]:
matriz = [
          [1,5,6],    #0
          [2,4],      #1
          [8,7,9],    #2
          [7,0],      #3
          [5,8,9.5,7],#4
          7,          #5
          [6,         #6
           [1,8,9],5],
          7
]
print( matriz )

[[1, 5, 6], [2, 4], [8, 7, 9], [7, 0], [5, 8, 9.5, 7], 7, [6, [1, 8, 9], 5], 7]

In [ ]:
lenguajes = {"PrograI":"VB","PrograII":"JAVA","PrograIII":"Python"}
print(lenguajes["PrograI"])

VB

In [ ]:
mi = {
    "codigo":"USIS018804",
    "nombre":"Luis Hernandez",
    "direccion":{
        "pais":{
            "codigo":503,
            "nombre":"El Salvador",
            "codigoiso":"sv",
            "continente":{
                "nombre":"C.A"
            }
        },
        "departamento":"Usulutan",
        "municipio":"Santa Maria",
        "detalle":"3Av. Norte #5, Casa #5"
    },
    "tels":{
        "oficina":"2645-4545",
        "casa":"2615-7878",
        "celular":"7080-5020"
    }
}
print( mi["codigo"], mi["nombre"], mi["tels"], mi["direccion"]["pais"]["nombre"], mi["direccion"]["pais"]["continente"]["nombre"], mi["direccion"]["departamento"] )

USIS018804 Luis Hernandez {'oficina': '2645-4545', 'casa': '2615-7878', 'celular': '7080-5020'} El Salvador C.A Usulutan

In [ ]:
mi.clear()
print( mi )

{}

In [ ]:
copia = mi.copy()
print( copia )

{'codigo': 'USIS018804', 'nombre': 'Luis Hernandez', 'direccion': {'pais': {'codigo': 503, 'nombre': 'El Salvador', 'codigoiso': 'sv', 'continente': {'nombre': 'C.A'}}, 'departamento': 'Usulutan', 'municipio': 'Santa Maria', 'detalle': '3Av. Norte #5, Casa #5'}, 'tels': {'oficina': '2645-4545', 'casa': '2615-7878', 'celular': '7080-5020'}}

In [ ]:
pais = copia.get("direccion")["pais"]["nombre"]
print( pais )

nombre = mi.get("direccion").get("pais").get("codigo")

esqueleto = dict.fromkeys(mi,"")

print( nombre, esqueleto ) #has_key fue removido de python 3 en adelante...

El Salvador
503 {'codigo': '', 'nombre': '', 'direccion': '', 'tels': ''}

In [ ]:
items = list(mi.items())
print( items )

[('codigo', 'USIS018804'), ('nombre', 'Luis Hernandez'), ('direccion', {'pais': {'codigo': 503, 'nombre': 'El Salvador', 'codigoiso': 'sv', 'continente': {'nombre': 'C.A'}}, 'departamento': 'Usulutan', 'municipio': 'Santa Maria', 'detalle': '3Av. Norte #5, Casa #5'}), ('tels', {'oficina': '2645-4545', 'casa': '2615-7878', 'celular': '7080-5020'})]

In [ ]:
#itervalues = mi.itervalues() -> Fue eliminado de Python 3
#print( itervalues )

In [ ]:
claves = list(mi.keys())
print( claves, claves[0] )

['codigo', 'nombre', 'direccion', 'tels'] codigo

In [43]:
edad = int(input("Edad: "))
if edad<2:
  print("Eres un bebe.")
elif edad<12:
  print("Eres un niño")
elif edad<18:
  print("Eres un adolescente")
elif edad<=55:
  print("Eres joven")
elif edad<=65:
  print("Eres adulto, un señor")
elif edad<=80:
  print("Eres un adulto mayor")
elif edad<130:
  print("Larga vidad")
else:
  print("Error en la edad")

Edad: 17
Eres un adolescente

In [48]:
n = int(input("Tabla: "))
i=1
while i<=10:
  print(n,"X",i,"=",n*i)
  i+=1

Tabla: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90