<a href="https://colab.research.google.com/github/luishernandezpw/Programacion-Computacional-III/blob/main/fundamentos_de_python_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo", "Bienvenidos a Progra III con Python", "Hola chicos, que tal...")

Hola mundo Bienvenidos a Progra III con Python Hola chicos, que tal...

In [ ]:
saludo = "hola"
print(saludo + " Mundo")
print( saludo[1] )

hola Mundo
o

In [ ]:
nombre = input("Como te llamas: ")
print("Hola "+nombre, "Tu letra inicial es: ", nombre[0], "Tu nombre tiene: ", nombre.__len__(), " caracteres" )

Como te llamas: Luis
Hola Luis Tu letra inicial es:  L Tu nombre tiene:  4  caracteres

In [ ]:
num1 = 5
num2 = 5.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  10.5

In [ ]:
num1 = input("Num1: ")
num2 = input("Num2: ")
resp = float(num1) + float(num2) # "5.5"-> 5.5
print("La suma es: ", resp)

Num1: 5
Num2: 5.5
La suma es:  10.5

In [ ]:
num1 = input("Num1: ")
num1 = float(num1)
num2 = float(input("Num2: "))
resp = num1 + num2 # "5.5"-> 5.5
print("La suma es: ", resp, num1 + num2)

Num1: 5.4
Num2: 6.8
La suma es:  12.2 12.2

In [ ]:
print("Hola nuevamente", nombre)

Hola nuevamente Luis

In [ ]:
gustaPython = True
print("hola ", nombre, " te gusta python ", gustaPython)

hola  Luis  te gusta python  True

In [ ]:
print( "nombre: ", type(nombre), "num1: ",type(num1), "num2: ",type(num2), "resp: ",type(resp), "gustaPython: ", type(gustaPython), "1", type(1))

nombre:  <class 'str'> num1:  <class 'float'> num2:  <class 'float'> resp:  <class 'float'> gustaPython:  <class 'bool'> 1 <class 'int'>

In [ ]:
print("resp: "+ str(resp) )

resp: 12.2

In [ ]:
def suma(num1, num2):
  resp = num1 + num2
  return resp
num1 = float(input("Num1: "))
num2 = float(input("Nnum2: "))
resp = suma(num1,num2)
print(resp)

Num1: 8.4
Nnum2: 9.8
18.200000000000003

In [ ]:
num1 = int(input("Num1: "))
num2 = int(input("Num2: "))
print("Los numero", str(num1), ",", str(num2), " son iguales: ", str(num1==num2) )

Num1: 4
Num2: 4
Los numero 4 , 4  son iguales:  True

In [ ]:
def convertirFC(f):
  c = (f-32)*5/9
  return c

f = float(input("F: "))
print("F: ", str(f), " a celsius: ", str( convertirFC(f) ))

F: 105.5
F:  105.5  a celsius:  40.833333333333336

In [ ]:
numHrs = int(input("Num. de Hrs trabajadas: "))
valorHr = float(input("Valor por hr: "))

sueldo = numHrs*valorHr*30
print("Sueldo: ", sueldo)

Num. de Hrs trabajadas: 10
Valor por hr: 4.5
Sueldo:  1350.0

In [ ]:
def calcularSueldo(numHrs, valorHr):
  hrsExtras = 0
  if( numHrs>8 ):
    hrsExtras = numHrs-8
  sueldo = (8*valorHr + hrsExtras*valorHr*2)*30
  return sueldo

numHrs = int(input("Num. hrs trabajadas: "))
valorHr = float(input("Valor x hr: "))
print("Sueldo: ", str(calcularSueldo(numHrs, valorHr)))

Num. hrs trabajadas: 10
Valor x hr: 4.5
Sueldo:  1620.0

In [ ]:
prioridad = 7- 5*2 - 4/4 *2 #5*2=10   4/4=1   1*2=2   7-10-2= -5
print(str(prioridad))

-5.0

Ejercicio de clase: 1. **Convertir** de Grados Celsius a Fahrenheit.

Ejercicios de Tarea: 
1. Convertir de Celsius de Fahrenheit
2. Calcular la edad de una persona.
3. Obtener la nota final de ciclo

Tarea: 
1. Convertir de Celsius de Fahrenheit usando lambda
2. Calcular la edad de una persona. usando lambda
3. Obtener la nota final de ciclo usando lambda y build-in(map, filter, reduce)

In [1]:
suma = lambda num1,num2: num1+num2
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print("La suma es: ", suma(num1,num2))

Num1: 5
Num2: 7
La suma es:  12.0

In [2]:
conversion = lambda f:(f-32)*5/9
f = float(input("Fahrenheit: "))
print("Grados F: ", f, " a C: ", conversion(f))

Fahrenheit: 105.5
Grados F:  105.5  a C:  40.833333333333336

In [4]:
cuadrado = lambda n:n**2
n = int(input("N: "))
print("N: ", n, " al cuadrado es: ", cuadrado(n))

N: 3
N:  3  al cuadrado es:  9

In [5]:
cubo = lambda n:n**3
n = int(input("n: "))
print("N: ", n, " al cubo es: ", cubo(n))

n: 3
N:  3  al cubo es:  27

In [10]:
exp = lambda n,e:n**e
n = int(input("N: "))
e = int(input("Exponente: "))
print(n, " elevado al exp : ", e, " es: ", exp(n,e))

N: 3
Exponente: 4
3  elevado al exp :  4  es:  81

In [34]:
lista = [1,2,3,4]
resp = list(map(lambda n:n*2, lista))
print(resp)

[2, 4, 6, 8]

In [13]:
gf_depto = [85,58,105]
c_depto = list(map(conversion, gf_depto))
print("Los grados F: ", gf_depto, " en celsius es: ", c_depto)

Los grados F:  [85, 58, 105]  en celsius es:  [29.444444444444443, 14.444444444444445, 40.55555555555556]

In [14]:
resp = list(map(cuadrado, lista))
print("La lista ", lista, " el cuadrado es: ", resp)

La lista  [1, 2, 3]  el cuadrado es:  [1, 4, 9]

In [15]:
resp = list(map(cubo, lista))
print("La lista ", lista, " el cubo es: ", resp)

La lista  [1, 2, 3]  el cubo es:  [1, 8, 27]

In [18]:
resp = list(filter(lambda n:n>2, lista))
print("Los numeros <= 2 de la lista ", lista, " son: ", resp)

Los numeros <= 2 de la lista  [1, 2, 3]  son:  [3]

In [28]:
resp = list(filter(lambda n:n%2==0, lista))
print("Los numeros pares de la lista ", lista, " son: ", resp)

Los numeros pares de la lista  [1, 2, 3, 5, 8, 7, 9, 12, 11, 2]  son:  [2, 8, 12, 2]

In [30]:
resp = list(filter(lambda n:n%2, lista)) #True, False, 1/2 = 0.5->1->True, 2/2=0 -> False
print("Los numeros impares de la lista ", lista, " son ", resp)

Los numeros impares de la lista  [1, 2, 3, 5, 8, 7, 9, 12, 11, 2]  son  [1, 3, 5, 7, 9, 11]

In [36]:
from functools import reduce
resp = reduce(lambda x,y:x+y, lista)
print("La suma de la lista ", lista, " es: ", resp, " la media es: ", resp/len(lista))

La suma de la lista  [1, 2, 3, 4]  es:  10  la media es:  2.5